@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ktbp5n');
    src:  url('../fonts/icomoon.eot?ktbp5n#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ktbp5n') format('truetype'),
      url('../fonts/icomoon.woff?ktbp5n') format('woff'),
      url('../fonts/icomoon.svg?ktbp5n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  /* font-family: 'Indie Flower', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Shadows Into Light', cursive; */

body{
    background-image: url(../img/paper9.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px; 
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
h2{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;

}
input, textarea{
   background-color: rgba(250, 250 ,250, 0.7);
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 7px;
}
textarea{
    height: 150px;
    resize: none;
}
#boton{
    display: block;
    background: rgba(38, 38, 38, 0.8);
    color: white;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer .rabbit img{
   width: 200px;
   transition: all .5s ease;
}
img:hover{
    cursor: pointer;
    transform: rotate(360deg);
}

@media (max-width:480px){
    form{
        width: 100%
    }
}




