@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ktbp5n');
  src:  url('../fonts/icomoon.eot?ktbp5n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ktbp5n') format('truetype'),
    url('../fonts/icomoon.woff?ktbp5n') format('woff'),
    url('../fonts/icomoon.svg?ktbp5n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Shadows Into Light', cursive; */
body{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #f6f3ea; 
} 
.section{
  clip-path: polygon(0 0, 0 calc(100% - 20vw), 50% 80%, 100% calc(100% - 20vw), 100% 0);
  background-image: url(../img/3m.jpg);
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 400px;
}
.section h1{
  margin: 10px auto; 
  width: max-content;
  font-size: 5.5rem;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(214, 133, 11);
}

/*HEADER*/

.header{
  width: 8%;
  height: 800px;
  top: 0;
  left: 0;
  position: fixed;
}
.header .logo img{
  background-color: rgba(228, 156, 24, 0.5);
  width: 100%;
  margin-top: 10px;
  clip-path: circle();
}
.header nav ul{
  list-style:none;
  padding: 3px;
  margin-top: 25px;
  margin-left: 20px;
} 
.header nav ul li{
  display: block;
  width: max-content;
  padding: 6px;
}
nav ul li a{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 2px 4px;
  transition: all 0.5s ease; 
}
nav ul li a:hover{
  color: #ff0101;
  transform: scale(1.3);
}
nav ul li a.activo{
  color: #ff0101;
  font-weight: bold;
}

/* REDES SOCIALES */

.header .redes{
  position: relative;
  width: max-content;
  height: max-content;
} 
.header .redes ul{
  position: absolute;
  list-style: none;
  margin-top: 40px;
}
.header .redes ul li{
  padding: 5px;
  width: 40px;
  height: 40px;
  margin: 0;
}
.header .redes ul li a{
  font-size: 20px;
  color: black;
  display: block;
  text-decoration: none;
  transition: all 0.5s ease; 
}
.redes ul li a:hover{
  color: #ff0101;
  transform: scale(1.3);
}

/*FOOTER*/

footer{
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0); 
  width: 100%;
  padding: 0.5em;
  opacity: 0;
}
footer ul{
  list-style: none;
  width: 30%;
  padding: 0;
}
footer ul li a{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 2px 4px;
  transition: all 0.5s ease; 
}
footer ul li a:hover{
  color: #ff0101;
}
ul li a.activo{
  color: #ff0101;
  font-weight: bold;
}
footer .redes ul{
  width: 20%;
}
footer .logo img{
  margin: 1em;
  width: 16em;
}
footer .logo img{
  background-color: rgba(228, 156, 24, 0.5);
  width: 270px;
  margin-top: 10px;
  clip-path: circle();
}
 
/* GRILLA */

.container{
  padding: 10px 10px 0 10px;
  background-color: #fff;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 20px 20px 20px -5px black; /*para hacer la sombra*/
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-bottom: 5em;
}
.item:nth-child(odd){
  width: 30%;
}
.item:nth-child(even){
  width: calc(70% - 10px);
  box-sizing: border-box;
  background-image: url(../img/tdk2.jpg); 
  background-size: cover;
  background-position: initial;
  position: relative;
}
.item:nth-child(even) p{
  font-family: 'Shadows Into Light', cursive;
  color: rgba(0, 0, 0, 0.686);
  font-weight: bold;
  margin-top: 90px;
  font-size: 1.5em;
  padding-left:30px;
}
.item:nth-child(even) h3{
  position: absolute;
  top: 0;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(0, 0, 0, 0.686);
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 0;
}
.item{
  margin-bottom: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; 
  min-height: 288px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  filter: contrast();
  border: 2px solid #ccc;
}   
.item:nth-child(odd) h3{
  font-family: 'Open Sans Condensed', sans-serif; 
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 3em;
  box-sizing: border-box;
  transition: all 1s ease;
  opacity: 0;
}
.item:nth-child(odd):hover{
 /* cursor: pointer; */
 box-shadow: 300px 0 0 rgba(151, 7, 7, 0.693) inset;
}
.item:nth-child(odd):hover h3{
  opacity: 1;
  color: white;
}

/* FOTOS */

.item.uno{
  background-image: url(../img/bowie_bn.jpg); 
}
.item.tres{
  background-image: url(../img/stones2.jpg); 
}
.item.cinco{
  background-image: url(../img/doors4.jpg); 
}
.item.siete{
  background-image: url(../img/U2.jpg); 
  background-position: left;
}
.item.nueve{
  background-image: url(../img/nick5.jpg); 
}
.item.once{
  background-image: url(../img/pj5.jpg); 
  background-position: right;
}

/* MEDIA-QUERIES */

@media screen and (max-width: 1250px){
  .header{
    display: none;
  }
  footer{
    opacity: 1;
  }
}
@media screen and (max-width: 850px){
  .container{
    flex-direction: column;
  }
  .item:nth-child(odd){
    width: 100%;
    position: relative;
  }
  .item:nth-child(even){
    width: 100%;
  } 
  .item:nth-child(odd):hover{
    box-shadow: 1000px 0 0 rgba(219, 54, 54, 0.503) inset;
  }
  .item:nth-child(odd) h3{
    width: 100%;
    position: absolute;
    margin-top: -10px;
  }
  .item:nth-child(odd):hover h3{
    opacity: 1;
  }
} 
.icon-facebook2:before, .icon-twitter:before, 
.icon-instagram:before, .icon-soundcloud2:before,
.icon-spotify:before, .icon-youtube:before{
  font-family: 'icomoon';
}
.icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-spotify:before {
    content: "\ea94";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-soundcloud2:before {
    content: "\eac4";
  }
