@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ktbp5n');
    src:  url('../fonts/icomoon.eot?ktbp5n#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ktbp5n') format('truetype'),
      url('../fonts/icomoon.woff?ktbp5n') format('woff'),
      url('../fonts/icomoon.svg?ktbp5n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
/* font-family: 'Indie Flower', cursive;
 font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Shadows Into Light', cursive; */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f6f6f6; 
} 
.section{
  width: 100%;
  position:relative;
  background-color: rgba(0, 0, 0, 0.965);
  height: 400px;
  clip-path: polygon(0 0, 0 calc(100% - 17vw), 50% 90%, 100% calc(100% - 17vw), 100% 0);
}
.section .titulo{
  font-size: 70px;
  height:200px;
  line-height: 200px;
  max-width:100%;
  letter-spacing: 10px;
  word-spacing: 10px;
  /* background-color: rgba(0, 0, 0, 0.605);
  transform: skewY(-9deg); */
}
.section .titulo h1{
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 70px auto;
  /* margin-left: 800px; */
  width: max-content;
  color: rgb(245, 152, 12);
}
.header{
  position: relative;
  background-color: rgba(15, 13, 13, 0.891);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 61% 33%, 100% 0);
  width: 13%;
  height: 800px;
  top: 0;
  left: 0;
  display: block;
  position: fixed;
}
.header .logo img{
  background-color: rgba(228, 156, 24, 0.5);
  width: 180px;
  /* margin-top: 10px;
  margin-left: 20px; */
  margin: 20px auto;
  clip-path: circle() ;
}
.header nav ul{
  list-style:none;
  padding: 3px;
  margin: 400px 0 0 7px;
} 
.header nav ul li{
  display: block;
  width: max-content;
  padding: 6px;
}
nav ul li a{
  font-family:'Shadows Into Light', cursive; 
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 2px 4px;
  transition: all 0.5s ease; 
}
nav ul li a:hover{
  color: #ff0101;
  transform: scale(1.3);
  text-decoration: underline;
}
nav ul li a.activo{
  color: #ff0101;
  font-weight: bold;
  text-decoration: underline; 
}

/* REDES SOCIALES */

.header .redes{
  position: relative;
  width: min-content;
  height: min-content;
} 
.header .redes nav ul{
  position: absolute;
  list-style: none;
  margin-left: 20px;
  margin-top: 40px;
}
.header .redes nav ul li{
  padding: 5px;
  width: 40px;
  height: 40px;
  margin: 0;
}
.redes nav ul li a{
  font-size: 25px;
  color: white;
  display: block;
  text-decoration: none;
  transition: all 0.5s ease; 
}

/* GRILLA */

.container{
  padding: 10px 10px 0 10px;
  background-color: #fff;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 20px 20px 20px -5px black; /*para hacer la sombra*/
  border: 2px solid #ccc;
  border-radius: 15px;
}
.item:nth-child(odd){
  width: 30%;
}
.item:nth-child(even){
  width: calc(70% - 10px);
  box-sizing: border-box;
  background-image: url(../img/tdk.jpg); 
  background-size: cover;
  background-position: initial;
  position: relative;
}
.item:nth-child(even) p{
  font-family: 'Shadows Into Light', cursive;
  color: rgba(0, 0, 0, 0.686);
  font-weight: bold;
  margin-top: 90px;
  font-size: 1.5em;
  padding-left:30px;
}
.item:nth-child(even) h3{
  position: absolute;
  top: 0;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(0, 0, 0, 0.686);
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 0;
}
.item{
  margin-bottom: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; 
  min-height: 288px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  filter: contrast();
  border: 2px solid #ccc;
}   
.item:nth-child(odd) h3{
  font-family: 'Open Sans Condensed', sans-serif; 
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 3em;
  box-sizing: border-box;
  transition: all 1s ease;
  opacity: 0;
}
.item:nth-child(odd):hover{
 cursor: pointer;
 box-shadow: 300px 0 0 rgba(151, 7, 7, 0.693) inset;
}
.item:nth-child(odd):hover h3{
  opacity: 1;
  color: white;
}

/* FOTOS */

.item.uno{
  background-image: url(../img/bowie.jpg); 
}
.item.tres{
  background-image: url(../img/stones2.jpg); 
}
.item.cinco{
  background-image: url(../img/doors4.jpg); 
}
.item.siete{
  background-image: url(../img/U2.jpg); 
  background-position: left;
}
.item.nueve{
  background-image: url(../img/echo.jpg); 
}
.item.once{
  background-image: url(../img/love2.jpg); 
}

/* MEDIA-QUERIES */

@media screen and (max-width: 850px){
  .container{
      flex-direction: column;
  }
  .item:nth-child(odd){
      width: 100%;
      position: relative;
  }
  .item:nth-child(even){
      width: 100%;
  } 
  .item:nth-child(odd):hover{
  cursor: pointer;
  box-shadow: 850px 0 0 rgba(219, 54, 54, 0.503) inset;
  }
  .item.nueve{
      background-image: url(img/echo.jpg); 
      background-position: top;
  }
  .item.once{
      background-image: url(img/love2.jpg); 
      background-position: top;
  }
  .item:nth-child(odd) h3{
      width: 100%;
      position: absolute;
      margin-top: -10px;
  }
  .item:nth-child(odd):hover h3{
      opacity: 1;
  }
}

.icon-facebook2:before, .icon-twitter:before, 
.icon-instagram:before, .icon-soundcloud2:before,
.icon-spotify:before, .icon-youtube:before{
  font-family: 'icomoon';
}
.icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-spotify:before {
    content: "\ea94";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-soundcloud2:before {
    content: "\eac4";
  }
