@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ktbp5n');
    src:  url('../fonts/icomoon.eot?ktbp5n#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ktbp5n') format('truetype'),
      url('../fonts/icomoon.woff?ktbp5n') format('woff'),
      url('../fonts/icomoon.svg?ktbp5n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Shadows Into Light', cursive; */

body{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #f6f3ea; 
    font-family: 'Open Sans Condensed', sans-serif;
} 
.section{
    clip-path: polygon(0 0, 0 calc(100% - 20vw), 50% 80%, 100% calc(100% - 20vw), 100% 0);
    background-image: url(../img/3m.jpg);
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 400px;
}
.section h1{
    margin: 10px auto; 
    width: max-content;
    font-size: 5.5rem;
    word-spacing: 0.5rem;
    color: rgb(214, 133, 11);
}
  
/*HEADER*/

.header{
    width: 8%;
    height: 800px;
    top: 0;
    left: 0;
    position: fixed;
}
.header .logo img{
    background-color: rgba(228, 156, 24, 0.5);
    width: 100%;
    margin-top: 10px;
    clip-path: circle();
}
.header nav ul{
    list-style:none;
    padding: 3px;
    margin-top: 25px;
    margin-left: 20px;
} 
  .header nav ul li{
    display: block;
    width: max-content;
    padding: 6px;
}
nav ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: block;
    padding: 2px 4px;
    transition: all 0.5s ease; 
}
nav ul li a:hover{
    color: #ff0101;
    transform: scale(1.3);
}
nav ul li a.activo{
    color: #ff0101;
    font-weight: bold;
}
  
  /* REDES SOCIALES */
  
.header .redes{
    position: relative;
    width: max-content;
    height: max-content;
} 
.header .redes ul{
    position: absolute;
    list-style: none;
    margin-top: 40px;
}
.header .redes ul li{
    padding: 5px;
    width: 40px;
    height: 40px;
    margin: 0;
 }
.header .redes ul li a{
    font-size: 20px;
    color: black;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease; 
}
.redes ul li a:hover{
    color: #ff0101;
    transform: scale(1.3);
}

/*FOOTER*/

footer{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0); 
    width: 100%;
    padding: 0.5em;
    opacity: 0;
}
footer ul{
    list-style: none;
    width: 30%;
    padding: 0;
}
footer ul li a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 2px 4px;
    transition: all 0.5s ease; 
}
footer ul li a:hover{
    color: #ff0101;
}
ul li a.activo{
    color: #ff0101;
    font-weight: bold;
}
footer .redes ul{
    width: 20%;
}
footer .logo img{
    margin: 1em;
    width: 16em;
}
footer .logo img{
    background-color: rgba(228, 156, 24, 0.5);
    width: 270px;
    margin-top: 10px;
    clip-path: circle(); 
}
.container{
    padding: 20px 10px 0 10px;
    background-color: #fff;
    width: 100%;
    height:100%;
    max-width: 940px;
    min-height: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 20px 20px 20px -5px black; /*para hacer la sombra*/
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 5em;
    box-sizing: border-box;
}
.item{
    width: calc( (100% - 40px) / 3);
    height: 296px;
    margin-bottom: 2%;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    transition: all 1s ease;
}
.item:first-child{
    margin-left: 5px;
}
.item:nth-child(3n+1){
    margin-left: 6px;
}
.item:last-child{
    margin-right: 5px;
}
.item a{
    text-decoration: none;
}
.item:hover{
    cursor: pointer;
    box-shadow: 300px 0 0 rgba(219, 54, 54, 0.503) inset;
}
.item .title h5{
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: lighter;
    transition: all 1s ease;
    opacity: 0;
}
.item:hover h5{
    opacity: 1;
    color: white;
}

/* GRILLA DISCOS */

/* c1 */
.container .c1{
    background-image: url(../img/bowie1.jpg);
}
/* c2 */
.container .c2{
   background-image: url(../img/bowie2.jpg);
}
/* c3 */
.container .c3{
   background-image: url(../img/bowie3.jpg);
}
/* c4 */
.container .c4{
    background-image: url(../img/bowie4.jpg);
} 
/* c5 */
.container .c5{
    background-image: url(../img/bowie5.jpg);
} 
/* c6 */
.container .c6{
    background-image: url(../img/bowie6.jpg);
} 
/* c7 */
.container .c7{
    background-image: url(../img/bowie7.jpg);
} 
/* c8 */
.container .c8{
    background-image: url(../img/bowie8.jpg);
} 
/* c9 */
.container .c9{
    background-image: url(../img/nick1.jpg);
} 
/* c10 */
.container .c10{
    background-image: url(../img/nick2.jpg);
} 
/* c11 */
.container .c11{
    background-image: url(../img/nick3.jpg);
} 
/* c12 */
.container .c12{
    background-image: url(../img/nick4.jpg);
}  
/* c13 */
.container .c13{
    background-image: url(../img/pj1.jpg);
} 
/* c14 */
.container .c14{
    background-image: url(../img/pj2.jpg);
} 

/* c15 */
.container .c15{
    background-image: url(../img/pj3.jpg);
} 
/* c16 */
.container .c16{
    background-image: url(../img/pj4.jpg)
} 
/* c17 */
.container .c17{
    background-image: url(../img/echo1.jpg);
} 
/* c18 */
.container .c18{
    background-image: url(../img/echo2.jpg);
} 
/* c19 */
.container .c19{
    background-image: url(../img/echo3.jpg);
} 
/* c20 */
.container .c20{
    background-image: url(../img/echo4.jpg);
} 
/* c21 */
.container .c21{
    background-image: url(../img/echo5.jpg);
} 
/* c22 */
.container .c22{
    background-image: url(../img/echo6.jpg);
} 
/* c23 */
.container .c23{
    background-image: url(../img/iggy1.jpg);
} 
/* c24 */
.container .c24{
    background-image: url(../img/iggy2.jpg);
} 

/*FIN GRILLA DE container*/

/* MEDIA-QUERIES */

@media screen and (max-width: 1250px){
    .header{
      display: none;
    }
    footer{
      opacity: 1;
    }
}
@media screen and (max-width: 950px){
    .container{
        max-width: 630px;
    }
    .item{
        width: calc( (100% - 30px) / 2);
        margin-bottom: 20px;
    }
    .item:nth-child(odd){
        margin-left: 7px;
    }
}
@media screen and (max-width: 650px){
    .container{
        max-width: 320px;
    }
    .item{
        margin:0 0 20px 10px;
        width: calc(100% - 20px);
    }
}

.icon-facebook2:before, .icon-twitter:before, 
.icon-instagram:before, .icon-soundcloud2:before,
.icon-spotify:before, .icon-youtube:before{
  font-family: 'icomoon';
}
.icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-spotify:before {
    content: "\ea94";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-soundcloud2:before {
    content: "\eac4";
  }
