body{
    margin: 0em;
    padding: 0em;
   
   
}
.contenedor{
    position: relative;
    width: 520px;
    height: 380px;
    margin: 100px auto;
    
    transition: all 1.5s ease;
}
.rabbit{
    font-family: monospace;
    font-size: 7px;
    text-align: center;
}


.contenedor:hover{
    cursor: pointer;
    transform: rotate(1080deg) scale(1.5);
}